<html>
    <br>
    <head>
        <title>Suggest Me One</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

<!--         {% if suggestion %}
            {{ suggestion }}
            {% set path='' %}
            }
        {% else %}
            {% set path='./suggest/' %}
        {% endif %} -->

        <div class="container">
            <a href="/"><h1>Suggest Me One</h1></a>

            <br>
        <div class="row">
        <div class="col-sm-6">
            <form action='./suggest/', method="get">
            <fieldset>
                <div class="form-group">

                    <label for="category">Category:</label>
                    <input type="text" class="form-control" id="category" name="category" placeholder="What do you want me to suggest?">
                    <br>
                    <div>
                        <a href="#demo" class="btn btn-submit" data-toggle="collapse">View Optional Inputs</a>
                    </div>
                    <div id="demo" class="collapse">
                        <br>
                        <label for="similar">Similar:</label>
                        <input type="text" class="form-control" id="similar" name="similar" placeholder="Enter a similar book title">
                        <br>
                        <label for="genre">Genre:</label>
                        {{ form.genre(class_="form-control") }}
                        <br>
                        <label for="subject">Subject:</label>
                        {{ form.subject(class_="form-control") }}
                        <br>
                        <label for="start">From:</label>
                        {{ form.start(class_="form-control") }}
                        <br>
                        <label for="end">To:</label>
                        {{ form.end(class_="form-control", value=2020) }}

                        
                    </div>

                    <br>

                    <button type="submit" class="btn btn-success">Submit</button>
                    {{ form.csrf_token }}
                    
                </div>

                </fieldset>
            </form>
        </div>
        <div class="col-sm-6">    
            <br>

            {% if suggestion %}
                <div class="jumbotron">
                {% if suggestion|length == 1 %}
                    <p>{{ suggestion[0] }}

                {% else %}
                    <h2>Suggestion:</h2>

                    <a href={{ suggestion[2] }}><p>{{ suggestion[0] }}</p></a>
                    <p>Author: {{ suggestion[1] }}</p>

                    <div>
                        <h4>Abstract</h4>
                        <p>{{ suggestion[3] }}</p>
                    </div>
                {% endif %}
                </div>

            {% endif %}

            {% if previous|length > 1 %}
            <h2>Previous Suggestions:</h2>

            <ul>
                {% for query in previous[:-1] %}
                    {% if query %}
                    <li>{{ query[0] }} : <a href={{ query[2] }}>{{ query[1] }}</a></li>

                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
    </body>

    <footer>
        <div class="container">
            <div class='row'>
                <div class='col-sm-6'>
            <a href="https://justinslud.github.io">Justin Slud</a>
            <br>
            <a href="https://github.com/justinslud">View Source</a>
        </div>
        </div>
        </div>
    </footer>

</html>
